<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center mt-sm-5 mb-4 text-white-50">
                <div>
                    <a href="" class="d-inline-block auth-logo">
                        <h1 class="text-white fw-bold">{{ title | uppercase }}</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card mt-4">

                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h5 class="text-primary">{{ title | uppercase }}</h5>
                        <p class="text-muted">Inicia sesión para continuar a {{ title }}.</p>
                    </div>
                    <div class="p-2 mt-4">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                            <div class="mb-3">
                                <label class="form-label" for="username">Email</label>
                                <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Ingrese email">
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email es requerido</div>
                                    <div *ngIf="f['email'].errors['email']">Email no válido
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="float-end">
                                    <a routerLink="/auth/forgot-password" class="text-muted">¿Haz olvidado tu contraseña?</a>
                                </div>
                                <label class="form-label" for="password-input">Contraseña</label>
                                <div class="position-relative auth-pass-inputgroup mb-3">
                                    <input [type]="fieldTextType ? 'text' : 'password'" class="form-control pe-5 input-pwd" placeholder="Ingrese contraseña" id="password-input" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                                        autocomplete="off">
                                    <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                                          }" (click)="toggleFieldTextType()"></i></button>
                                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                        <span *ngIf="f['password'].errors['required']">Contraseña es requerida</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="auth-remember-check" formControlName="rememberMe">
                                <label class="form-check-label" for="auth-remember-check">Recordar mis datos</label>
                            </div>

                            <div class="mt-4">
                                <button class="btn btn-success w-100" type="submit">Iniciar Sesión</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

        </div>
    </div>
    <!-- end row -->
</div>
<!-- end container -->