<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0 flex-grow-1">Usuarios</h4>
            <button class="btn btn-primary d-flex gap-1" (click)="onAddUser(content)">
                <i class="ri-user-add-fill"></i> Agregar usuario
            </button>
        </div>
    </div>
    <div class="card-body">

        <form class="app-search d-none d-md-block" [formGroup]="formSearch">
            <div class="position-relative">
                <input type="text" class="form-control" placeholder="Buscar usuario" autocomplete="off"
                    formControlName="filter">
                <span class="mdi mdi-magnify search-widget-icon"></span>
                <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none"></span>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let column of columns" (click)="onOrderColumn(column)">
                            <span class="d-flex align-items-center gap-1" [ngClass]="{ 'column-order': column.order }">
                                {{ column.text }}
                                <i class="ri-arrow-up-s-fill" *ngIf="column.active && column.order"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th scope="row">{{ user.codigo }}</th>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.apellido }}</td>
                        <td>{{ user.contenido }}</td>
                        <td><span class="badge bg-success">{{ user.estado }}</span></td>
                        <td>
                            <button class="btn btn-secondary btn-sm" (click)="onEditUser(user.idusuario, content)">
                                <i class="ri-pencil-fill"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                                (click)="onDeleteUser(user.idusuario, user.nombre, user.apellido)">
                                <i class="ri-delete-bin-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination [totalPages]="totalPages" [currentPage]="currentPage"
            (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Agregar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formAddUser">
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="code" class="form-label">Código</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="code" placeholder="Ingrese código"
                        formControlName="code" [class.is-invalid]="fModal['code'].invalid && fModal['code'].touched"
                        [attr.disabled]="option === 'EDIT' ? true: null">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="name" class="form-label">Nombre</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="name" placeholder="Ingrese nombre"
                        formControlName="name" [class.is-invalid]="fModal['name'].invalid && fModal['name'].touched">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="lastname" class="form-label">Apellido</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="lastname" placeholder="Ingrese apellido"
                        formControlName="lastname"
                        [class.is-invalid]="fModal['lastname'].invalid && fModal['lastname'].touched">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="content" class="form-label">Contenido</label>
                </div>
                <div class="col-lg-9">
                    <input type="email" class="form-control" id="content" placeholder="Ingrese contenido"
                        formControlName="content"
                        [class.is-invalid]="fModal['content'].invalid && fModal['content'].touched">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="leaveemails" class="form-label">Roles</label>
                </div>
                <div class="col-lg-9">
                    <ng-select [items]="roles" [multiple]="true" formControlName="roles" bindLabel="name" bindValue="id"
                        placeholder="Agregue roles"
                        [class.is-invalid]="fModal['roles'].invalid && fModal['roles'].touched">
                    </ng-select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitUser()">Guardar</button>
    </div>
</ng-template>