<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0 flex-grow-1">Actividades</h4>
            <button class="btn btn-primary d-flex gap-1" (click)="onAddActivity(content)">
                <i class="ri-checkbox-multiple-fill"></i> Agregar actividad
            </button>
        </div>
    </div>
    <div class="card-body">

        <form class="app-search d-none d-md-block" [formGroup]="formSearch">
            <div class="position-relative">
                <input type="text" class="form-control" placeholder="Buscar actividad" autocomplete="off"
                    formControlName="filter">
                <span class="mdi mdi-magnify search-widget-icon"></span>
                <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none"></span>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let column of columns" (click)="onOrderColumn(column)">
                            <span class="d-flex align-items-center gap-1" [ngClass]="{ 'column-order': column.order }">
                                {{ column.text }}
                                <i class="ri-arrow-up-s-fill" *ngIf="column.active && column.order"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let activity of activities">
                        <th scope="row">{{ activity.codigo }}</th>
                        <td>{{ activity.nombre }}</td>
                        <td>{{ activity.fechacreacion | date: 'dd/MM/YYYY HH:mm a' }}</td>
                        <td>{{ activity.usuariocreacion }}</td>
                        <td><span class="badge bg-success">{{ activity.estado | estado }}</span></td>
                        <td>
                            <button class="btn btn-secondary btn-sm" (click)="onEditActivity(activity.idactividad, content)">
                                <i class="ri-pencil-fill"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="onDeleteActivity(activity.idactividad, activity.nombre)">
                                <i class="ri-delete-bin-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination [totalPages]="totalPages" [currentPage]="currentPage"
            (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">{{ titleModal }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formAddActivity">
            <div class="row mb-3" *ngIf="option !== 'ADD'">
                <div class="col-lg-3">
                    <label for="code" class="form-label">Código</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="code" placeholder="Ingrese código" formControlName="code"
                        [class.is-invalid]="fModal['code'].invalid && fModal['code'].touched"
                        [attr.disabled]="option === 'EDIT' ? true: null">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="name" class="form-label">Nombre</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="name" placeholder="Ingrese nombre" formControlName="name"
                        [class.is-invalid]="fModal['name'].invalid && fModal['name'].touched">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitActivity()">Guardar</button>
    </div>
</ng-template>