<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-h-100">
                    <div class="card-header">
                        <h4 class="card-title mb-0 flex-grow-1">Timesheet</h4>
                    </div>
                    <div class="card-body">
                        <form class="container mb-3" [formGroup]="formSearch" (ngSubmit)="onSearch()">
                            <div class="row">
                                <div class="col-lg-1">
                                    <label for="date" class="form-label my-1">Cliente</label>
                                </div>
                                <div class="col-lg-2">
                                    <ng-select [items]="clients" formControlName="client" bindLabel="name"
                                        bindValue="id" placeholder="Seleccione cliente" [multiple]="true" (change)="changeClientSearch()"
                                        [class.is-invalid]="formSearch.get('client')?.invalid && formSearch.get('client')?.touched">
                                    </ng-select>
                                </div>
                                <div class="col-lg-1">
                                    <label for="date" class="form-label my-1">Proyecto</label>
                                </div>
                                <div class="col-lg-2">
                                    <ng-select [items]="projectsSearch" formControlName="project" bindLabel="name"
                                        bindValue="id" placeholder="Seleccione proyecto" [multiple]="true"
                                        [class.is-invalid]="formSearch.get('project')?.invalid && formSearch.get('project')?.touched">
                                    </ng-select>
                                </div>
                                <div class="col-lg-1">
                                    <label for="date" class="form-label my-1">Actividad</label>
                                </div>
                                <div class="col-lg-2">
                                    <ng-select [items]="activities" formControlName="activity" bindLabel="name"
                                        bindValue="id" placeholder="Seleccione actividad" [multiple]="true"
                                        [class.is-invalid]="formSearch.get('activity')?.invalid && formSearch.get('activity')?.touched">
                                    </ng-select>
                                </div>
                                <button class="col-lg-2 btn btn-primary d-flex align-items-center gap-2 justify-content-center">
                                    <i class=" ri-search-line"></i>Buscar
                                </button>
                            </div>
                        </form>
                        <hr>
                        <div id="calendar"></div>
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!--end row-->

        <div style='clear:both'></div>

        <!-- Add New Event MODAL -->
        <ng-template #modalShow let-modal>
            <div class="modal-header p-3">
                <h5 class="modal-title" id="modal-title">Nuevo Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                    (click)="closeEventModal()"></button>
            </div>
            <div class="modal-body p-4">
                <form class="needs-validation" name="event-form" id="form-event" novalidate (ngSubmit)="saveEvent()"
                    [formGroup]="formData">
                    <div class="row event-form">
                        <div class="col-12">
                            <div class="mb-3">
                                <label>Fecha</label>
                                <div class="input-group">
                                    <!-- <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" placeholder="Select date"> -->
                                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                                        [altInput]="true" altFormat="d/m/Y" [convertModelValue]="true"
                                        placeholder="Seleccione una fecha" id="event-date" formControlName="date">
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Cliente</label>
                                <ng-select [items]="clients" formControlName="client" bindLabel="name" bindValue="id"
                                    placeholder="Agregue un cliente" (change)="changeClient()"
                                    [class.is-invalid]="submitted && form['client']!.errors">
                                </ng-select>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Proyecto</label>
                                <ng-select [items]="projects" formControlName="project" bindLabel="name" bindValue="id"
                                    placeholder="Agregue un proyecto"
                                    [class.is-invalid]="submitted && form['project']!.errors">
                                </ng-select>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Actividad</label>
                                <ng-select [items]="activities" formControlName="activity" bindLabel="name" bindValue="id"
                                    placeholder="Agregue una actividad"
                                    [class.is-invalid]="submitted && form['activity']!.errors">
                                </ng-select>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="event-hour">Horas</label>
                                <div>
                                    <input class="form-control" placeholder="Ingrese las horas" type="number"
                                        name="event-hour" id="event-hour" required formControlName="hour" [min]="1"
                                        [ngClass]="{ 'is-invalid': submitted && form['hour']!.errors }" />
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Observación</label>
                                <textarea class="form-control" id="event-observation"
                                    placeholder="Ingrese una observación" rows="3" spellcheck="false"
                                    formControlName="observation"
                                    [ngClass]="{ 'is-invalid': submitted && form['observation']!.errors }"></textarea>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <div class="hstack gap-2 justify-content-end">
                        <button type="submit" class="btn btn-primary" id="btn-save-event">Guardar</button>
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="modal.dismiss('Cross click')">Cancelar</button>
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- end modal-->

        <!-- Edit event modal -->
        <ng-template #editmodalShow let-modal>
            <div class="modal-header p-3">
                <h5 class="modal-title" id="modal-title">Editar Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body p-4">
                <form [formGroup]="formEditData" (ngSubmit)="editEventSave()">
                    <div class="row event-form">
                        <div class="col-12">
                            <div class="mb-3">
                                <label>Fecha</label>
                                <div class="input-group">
                                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr name="editDate"
                                        formControlName="editDate" [altInput]="true" altFormat="d/m/Y"
                                        [convertModelValue]="true" placeholder="Seleccione una fecha">
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Cliente</label>
                                <ng-select [items]="clients" formControlName="editClient" bindLabel="name" bindValue="id"
                                    placeholder="Agregue un cliente" (change)="changeClientEdit()">
                                </ng-select>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Proyecto</label>
                                <ng-select [items]="projects" formControlName="editProject" bindLabel="name" bindValue="id"
                                    placeholder="Agregue un proyecto">
                                </ng-select>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Actividad</label>
                                <ng-select [items]="activities" formControlName="editActivity" bindLabel="name" bindValue="id"
                                    placeholder="Agregue una actividad">
                                </ng-select>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="event-hour">Horas</label>
                                <div>
                                    <input type="number" class="form-control" name="editHour" formControlName="editHour"
                                        placeholder="Ingrese las horas" [min]="1">
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Observación</label>
                                <textarea class="form-control" name="editObservation"
                                    placeholder="Ingrese una observación" formControlName="editObservation" rows="3"
                                    spellcheck="false"></textarea>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <div class="hstack gap-2 justify-content-end">
                        <button type="submit" class="btn btn-primary" id="btn-save-event">Guardar</button>
                        <button type="button" class="btn btn-soft-danger" id="btn-delete-event" (click)="confirm()"><i
                                class="ri-close-line align-bottom"></i> Eliminar</button>
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="modal.dismiss('Cross click')">Cancelar</button>
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- end modal-->
    </div>
</div> <!-- end row-->