<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0 flex-grow-1">Nomenclaturas</h4>
            <button class="btn btn-primary d-flex gap-1" (click)="onAddNomenclature(content)">
                <i class="ri-bill-fill"></i> Agregar nomenclatura
            </button>
        </div>
    </div>
    <div class="card-body">

        <form class="app-search d-none d-md-block" [formGroup]="formSearch">
            <div class="position-relative">
                <input type="text" class="form-control" placeholder="Buscar nomenclatura" autocomplete="off"
                    formControlName="filter">
                <span class="mdi mdi-magnify search-widget-icon"></span>
                <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none"></span>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let column of columns" (click)="onOrderColumn(column)">
                            <span class="d-flex align-items-center gap-1" [ngClass]="{ 'column-order': column.order }">
                                {{ column.text }}
                                <i class="ri-arrow-up-s-fill" *ngIf="column.active && column.order"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let nomenclature of nomenclatures">
                        <th scope="row">{{ nomenclature.abreviatura }}</th>
                        <td>{{ nomenclature.entidad }}</td>
                        <td>{{ nomenclature.contador }}</td>
                        <td>{{ nomenclature.longitud }}</td>
                        <td><span class="badge bg-success">{{ nomenclature.estado }}</span></td>
                        <td>
                            <button class="btn btn-secondary btn-sm" (click)="onEditNomenclature(nomenclature.idnomenclatura, content)">
                                <i class="ri-pencil-fill"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="onDeleteNomenclature(nomenclature.idnomenclatura, nomenclature.abreviatura)">
                                <i class="ri-delete-bin-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination [totalPages]="totalPages" [currentPage]="currentPage"
            (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Agregar Nomenclatura</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formAddNomenclature">
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="abbreviation" class="form-label">Abreviatura</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="abbreviation" placeholder="Ingrese abreviatura" formControlName="abbreviation"
                        [class.is-invalid]="fModal['abbreviation'].invalid && fModal['abbreviation'].touched">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="entity" class="form-label">Entidad</label>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="entity" placeholder="Ingrese entidad" formControlName="entity"
                        [class.is-invalid]="fModal['entity'].invalid && fModal['entity'].touched">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="counter" class="form-label">Contador</label>
                </div>
                <div class="col-lg-9">
                    <input type="number" class="form-control" id="counter" placeholder="Ingrese contador" formControlName="counter"
                        [class.is-invalid]="fModal['counter'].invalid && fModal['counter'].touched">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-3">
                    <label for="length" class="form-label">Longitud</label>
                </div>
                <div class="col-lg-9">
                    <input type="number" class="form-control" id="length" placeholder="Ingrese longitud" formControlName="length"
                        [class.is-invalid]="fModal['length'].invalid && fModal['length'].touched">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitNomenclature()">Guardar</button>
    </div>
</ng-template>