/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

// @import '~bootstrap/scss/bootstrap';

ng-select.required.ng-invalid.ng-touched {
    .ng-select-container {
        border-color: #dc3545;
    }
}

ng-select.ng-invalid.ng-touched {
    .ng-select-container {
        border-color: #dc3545;
    }
}

.swal2-popup {
    font-size: 0.8rem !important;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}